<div {{did-insert this.didInsertPaypal}}></div>
<form action="https://formspree.io/betocantu93@gmail.com" name="formspree" method="POST" id="formspree-io">
  <input type="hidden" name="_language" value="en" />
  <input type="text" name="_replyto" value={{this.email}} />
  <input type="text" name="name" value={{this.name}} />
  <input type="text" name="total" value={{this.total}} />
  <input type="text" name="products" value={{this.products}} />
</form>