<PageTitle @title="Welcome traveler" />

{{title "Octane"}}
<div class="search-input-container">
  <input {{on "input" this.changeQuery}} value={{this.query}} placeholder="What you looking for today?"
    class="search-input" >
  <img src="logo-algolia-nebula-blue-whitespaces.svg" class={{if this.query "typing"}} alt="algolia logo">
</div>
<div class="tag-facets-container">
  <ul>
    {{#each this.listing.facets as |facet index|}}
      <Facet
        @facet={{facet}}
        @onClick={{this.toggleFacet}}
        class={{concat
          (if (in-array facet.queryParam this.facets) "active ")
          (if (not this.showMore) (if (gt index this.facetQuantityToShow) "hide"))
        }}
      />
    {{/each}}
  </ul>
</div>
<div class="show-more-container">
  {{#if this.model.length}}
    <button class="btn btn-primary" {{on "click" this.reset}}>Clear filters</button>
  {{/if}}
  {{#if (gt this.listing.facets.length this.facetQuantityToShow)}}
    {{#if this.showMore}}
      <button class="btn btn-primary" {{on "click" (fn  this.toggleShowMore false)}}>show less filters</button>
    {{else}}
      <button class="btn btn-primary" {{on "click" (fn this.toggleShowMore true )}}>show more filters</button>
    {{/if}}
  {{/if}}
</div>
<div class="product-grid">
  {{#each @model as |product|}}
    <Product @product={{product}} />
  {{else}}
    No results
    <button class="btn btn-primary" {{on "click" this.reset}}>
      Clear filters
    </button>
  {{/each}}
</div>
{{#if this.listing.lastResult.total}}
  <div class="pagination">
    <button disabled={{lte this.page 1}} {{on "click" this.back}} class="btn btn-primary">
      back
    </button>
    <span>[ {{this.page}} | {{this.listing.lastResult.totalPages}} ]</span>
    <button disabled={{gte this.page this.listing.lastResult.totalPages}} {{on "click" this.forward}}
      class="btn btn-primary">
      next
    </button>
  </div>
{{/if}}